.authContainer {
    margin: auto;
    padding: 100px 25px;
}



@media screen and (max-width:500px) {
    .auth__card {
        border-radius: 0px;
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        overflow-y: scroll;
        position: fixed;
            overflow-x: hidden;
        }
}

.bgImg {
    background-size: auto;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    background: url('../../../src/assets/img/bg.svg');
}